.dungeons {
    padding: 3%;
}

.locations {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.minor {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.major {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

