.fish{
    border: 2px solid black;
    margin: 2%;
    padding: 2%;
    box-shadow: 1px 1px 3px gray;
}

.fish__image{
    padding: 7% 6%;
    margin: 8% 35%;
    border: 3px solid black;
    border-radius: 5%;
    height: 10%;
    width: 15%;
}