.header{
  position: fixed;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  border-right: 1px solid black;
  margin-right: 0%;
  margin-top: -3%;
  padding: 6% 2% 2% 2%;
  height: 90%;
  background-color: white;
}