.header{
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 5%;
  margin-top: -5%;
  padding: 6% 2% 2% 2%;
  height: 17%;
  width: 97%;
  background-color: white;
}